#openocd -f openocd.cfg
# Tested with:
# Open On-Chip Debugger 0.12.0+dev-01829-g250ab1008 (2025-01-06-18:09)



# source [find interface/stlink-v1.cfg]
# transport select hla_swd

source [find interface/ftdi/jtag-lock-pick_tiny_2.cfg]
transport select swd
# source [find interface/cmsis-dap.cfg]


adapter speed 4000
# set USE_CORE 0
source [find target/rp2040.cfg]

# Old config
# source [find target/rp2040-core0.cfg]
# CPU APID schould be: 0x01002927


# error solving:
# Unknown flash device (ID 0x0016405e) 
# new flash ID needs to be added in spi.c of openocd sources. Then recompiled.
# https://sourceforge.net/p/openocd/mailman/message/37869533/

# Breakpoints which are set before ROM bootloader code is executed  are not working
# Setting breakpoints and jumping over bootloader is working

# useful command to connect form gdb arm-none-eabi-gdb output/output.elf -iex "target extended-remote :3333"

init 
dap info
reset halt